<div class="bottom-footer">
    <div class="bg-img-footer" style="text-align: center; background: #f8fafd;">
        <a href="#" class="">
            <img data-aos="zoom-in-up" src="{{ asset('assets/home/img/brand/footer.png') }}" alt="">
        </a>
    </div>
    <div style="background: #6b15b6; width: 100%; text-align: center; color: rgba(255, 255, 255, 0.7); font-weight: 400; padding: 40px 0px; font-size: 14px;">
        © BaxPay 2019. All rights reserved.
    </div>
</div>