{#{% extends 'dash.html.twig' %}#}

{% block body %}
    <h1 class="page-header text-center">Welcome To BaxPay!</h1>
    <h2 class="page-header text-center">Dashboard has to be designed here.</h2>
{% endblock %}
